<%content_for :title do%>
<h1>Listagem de Fases </h1>
<%end%>

<%= button_to_new new_admin_form_section_path %>

<%= flash_notice_render %>

<table class="table table-hover table-bordered <%= "hide" if @form_sections.empty? %>">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Ordem</th>
      <th class="table-action"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_sections.each do |form_section| %>
      <tr>
        <td><%= form_section.id %></td>
        <td><%= form_section.name %></td>
        <td><%= form_section.order %></td>
        <td>
          <%= link_to '', [ :admin, form_section], class: "glyphicon glyphicon-eye-open table-icon" %>
          <%= link_to '', edit_admin_form_section_path(form_section), class: "glyphicon glyphicon-pencil table-icon" %>
          <%= link_to '', [ :admin, form_section ], method: :delete, data: { confirm: 'Tem certeza?' }, class: "glyphicon glyphicon-remove-circle table-icon table-remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= empty_array_message @form_sections %>
