<%content_for :title do%>
<h1>Listagem de Seções </h1>
<%end%>

<%= button_to_new new_admin_survey_section_path( @survey ) %>

<%= flash_notice_render %>

<table class="table table-hover table-bordered <%= "hide" if @sections.empty? %>">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Ordem</th>
      <th></th>
      <th class="table-action"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.id %></td>
        <td><%= section.name %></td>
        <td><%= section.order %></td>
        <td><%= section.link_to_questions %></td>
        <td>
          <%= link_to '', [ :admin, @survey, section], class: "glyphicon glyphicon-eye-open table-icon" %>
          <%= link_to '', edit_admin_survey_section_path( @survey, section ), class: "glyphicon glyphicon-pencil table-icon" %>
          <%= link_to '', [ :admin, @survey, section ], method: :delete, data: { confirm: 'Tem certeza?' }, class: "glyphicon glyphicon-remove-circle table-icon table-remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= empty_array_message @sections %>
