<h1><%= I18n.t("resource.#{@section.class.name.downcase}")%></h1>

<%= flash_notice_render %>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Help block:</strong>
  <%= @section.help_block %>
</p>

<%= link_to 'Editar', edit_admin_survey_section_path( @survey, @section ), class: "btn btn-lg btn-warning" %> ou
<%= link_to 'voltar', admin_survey_sections_path( @survey ) %>
