<%content_for :title do%>
<h1><%= I18n.t("resource.#{@section.class.name.downcase}")%></h1>
<%end%>

<%= flash_notice_render %>

<p>
  <strong>Nome:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Texto de ajuda:</strong>
  <%= @section.help_block %>
</p>

<%= link_to 'Editar', edit_admin_survey_section_path( @survey, @section ), class: "btn btn-lg btn-warning" %> ou
<%= link_to 'voltar', admin_survey_sections_path( @survey ) %>
