<%= form_for([:admin, @oficio_prefeitura], html: { role: "form", class: "form-horizontal", multipart: true }) do |f| %>

  <fieldset>
    <legend>Dados Básicos</legend>

    <div class="form-group">
      <%= f.label :name, "Nome do pesquisador técnico do PCSS", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control", placeholder: "nome" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description, "Tipo de ofício", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <div class="radio">
          <label>
            <%= f.radio_button :description, "Solicitação de assessoria técnica para implantação do PCSS" %>
            Solicitação de assessoria técnica para implantação do PCSS
          </label>
        </div>

        <div class="radio">
          <label>
            <%= f.radio_button :description, "Continuidade da assessoria técnica para implantação do PCSS" %>
            Continuidade da assessoria técnica para implantação do PCSS
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :archive, "Documento", class: "col-md-2 control-label" %>
      <div class="col-md-6">
        <div class="fileupload <%= f.object.archive_file_name.blank? ? "fileupload-new" : "fileupload-exists" %> " data-provides="fileupload">
          <div class="input-group">
            <div class="form-control">
              <i class="icon-file fileupload-exists"></i>
              <span class="fileupload-preview"><%= f.object.archive_file_name %></span>
            </div>
            <div class="input-group-btn">
              <span class="btn btn-default btn-file">
                <span class="fileupload-new">Selecionar arquivo</span>
                <span class="fileupload-exists">Alterar arquivo</span>
                <%= f.file_field :archive %>
              </span>
              <%unless f.object.archive_file_name.blank? %>
                <a href="<%= f.object.archive.url %>" class="btn btn-success fileupload-exists" data-dismiss="fileupload-remove">Fazer download</a>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :cargo, "Cargo", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <div class="radio">
          <label>
            <%= f.radio_button :cargo, "Prefeito" %> Prefeito
          </label>
        </div>

        <div class="radio">
          <label>
            <%= f.radio_button :cargo, "Secretário" %> Secretário
          </label>
        </div>

        <div class="radio">
          <label>
            <%= f.radio_button :cargo, "Assessor" %> Assessor
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :data_registro, "Data do envio do ofício pela prefeitura", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.date_select :data_registro, class: "form-control"  %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :name_resp, "Nome do Responsável pela assinatura do ofício", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name_resp, class: "form-control", placeholder: "nome" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :county_id, "Município", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :county_id, County.all.collect{|a| [ a.name, a.id ]}, {}, class: "form-control", placeholder: "nome" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :created_at, "Data de cadastro", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <input type="text" readonly value="<%= f.object.created_at.strftime("%d/%m/%Y")%>" class="form-control" />
      </div>
    </div>

  </fieldset>


  <fieldset>
    <legend></legend>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Salvar</button> ou 
        <a href="<%= admin_oficio_prefeituras_path %>">cancelar</a>
      </div>
    </div>
  </fieldset>

<% end %>
