<%content_for :title do%>
<h1>Município</h1>
<%end%>

<%= flash_notice_render %>

<p>
  <strong>Nome do pesquisador técnico do PCSS:</strong> <%= @oficio_prefeitura.name %>
</p>

<p>
  <strong>Tipo de ofício:</strong> <%= @oficio_prefeitura.description %>
</p>

<p>
  <strong>Cargo:</strong> <%= @oficio_prefeitura.cargo %>
</p>

<p>
  <strong>Data do envio do ofício pela prefeitura:</strong> <%= l @oficio_prefeitura.data_registro %>
</p>

<p>
  <strong>Nome do Responsável pela assinatura do ofício:</strong> <%= @oficio_prefeitura.name_resp %>
</p>

<p>
  <strong>Município:</strong> <%= @oficio_prefeitura.county.name %>
</p>

<p>
  <strong>Documento:</strong> <%= link_to "Arquivo", @oficio_prefeitura.archive.url %>
</p>

<%= link_to 'Editar', edit_admin_oficio_prefeitura_path(@oficio_prefeitura), class: "btn btn-lg btn-warning" %> ou
<%= link_to 'voltar', admin_oficio_prefeituras_path %>
