<p id="notice"><%= notice %></p>

<p>
  <strong>Survey:</strong>
  <%= @section.survey %>
</p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Help block:</strong>
  <%= @section.help_block %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
