<h1>Listing answers</h1>

<table>
  <thead>
    <tr>
      <th>Answer type</th>
      <th>Placeholder</th>
      <th>Label text</th>
      <th>Help block</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.answer_type %></td>
        <td><%= answer.placeholder %></td>
        <td><%= answer.label_text %></td>
        <td><%= answer.help_block %></td>
        <td><%= link_to 'Show', answer %></td>
        <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
        <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer', new_answer_path %>
