<%= form_for([:admin, @survey, @section, @question, @answer], html: { role: "form", class: "form-horizontal"}) do |f| %>
<fieldset>
  <legend>Dados Básicos</legend>

  <div class="form-group">
    <%= f.label :answer_type_id, "Tipo", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :answer_type_id, f.object.answer_type_collection, {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :placeholder, "Placeholder", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :placeholder, class: "form-control", placeholder: "Placeholder" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :label_text, "Label", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :label_text, class: "form-control", placeholder: "Label text" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :help_block, "Texto de Ajuda", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :help_block, class: "form-control", placeholder: "Help Block" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :css_class, "Css Class", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :css_class, class: "form-control", placeholder: "Css Class" %>
    </div>
  </div>

    <div class="form-group">
    <%= f.label :query_string, "Query String", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :query_string, class: "form-control", placeholder: "Query String" %>
    </div>
  </div>

    <div class="form-group">
    <%= f.label :ajax_url, "Ajax URL", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :ajax_url, class: "form-control", placeholder: "Ajax URL" %>
    </div>
  </div>

    <div class="form-group">
    <%= f.label :element_ajax, "Element Ajax", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :element_ajax, class: "form-control", placeholder: "Element Ajax" %>
    </div>

  </div>
  

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-12">
        <div class="checkbox">
          <label><%= f.check_box :disabled  %> Desabilitado ?</label>
        </div>
      </div>
    </div>



</fieldset>

<fieldset class="margin-bottom">
  <legend>Validações</legend>
  


  <div class="form-group">
    <%= f.label :min_length, "Comprimento Minimo", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :min_length, class: "form-control", placeholder: "" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :max_length, "Comprimento Máximo", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :max_length, class: "form-control", placeholder: "" %>
    </div>
  </div>


  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-12">
        <div class="checkbox">
          <label><%= f.check_box :required  %> Obrigatório ?</label>
        </div>
      </div>
    </div>

</fieldset>

<fieldset class="margin-bottom">
  <legend>Collection</legend>
  <div id="answer_collections" class="cf margin-bottom">
    <%= f.fields_for :answer_collections do |ac| %>
      <%= render :partial => "answer_collection_fields", :locals => { :f => ac }%>
    <% end %>
  </div>

  <div class="cf">
    <div class="btn-group">
      <%= link_to_add_fields "Add Question", f, :answer_collections, class: "btn btn-info" %>
    </div>
  </div>

</fieldset>

<fieldset>
  <legend></legend>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Salvar</button> ou 
      <a href="<%= admin_survey_section_question_answers_path( @survey, @section, @question )%>">cancelar</a>
    </div>
  </div>
</fieldset>
<% end %>
