<%content_for :title do%>
<h1><%= I18n.t("resource.#{@answer.class.name.downcase}")%></h1>
<%end%>

<%= flash_notice_render %>

<p>
  <strong>Answer type:</strong>
  <%= @answer.answer_type.name %>
</p>

<p>
  <strong>Placeholder:</strong>
  <%= @answer.placeholder %>
</p>

<p>
  <strong>Label text:</strong>
  <%= @answer.label_text %>
</p>

<p>
  <strong>Help block:</strong>
  <%= @answer.help_block %>
</p>

<%= link_to 'Editar', edit_admin_survey_section_question_answer_path(@survey, @section, @question, @answer), class: "btn btn-lg btn-warning" %> ou
<%= link_to 'voltar', admin_survey_section_question_answers_path( @survey, @section, @question ) %>
