<h1>Listagem de <%= I18n.t("resource.question")%>s </h1>

<%= button_to_new new_admin_survey_section_question_path( @survey, @section ) %>

<%= flash_notice_render %>

<table class="table table-hover table-bordered <%= "hide" if @questions.empty? %>">
  <thead>
    <tr>
      <th>Id</th>
      <th>Código</th>
      <th>Pergunta</th>
      <th>Respostas</th>
      <th class="table-action"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.code %></td>
        <td><%= question.content %></td>
        <td><%= question.link_to_answers %></td>
        <td>
          <%= link_to '', [ :admin, @survey, @section, question], class: "glyphicon glyphicon-eye-open table-icon" %>
          <%= link_to '', edit_admin_survey_section_question_path(@survey, @section, question), class: "glyphicon glyphicon-pencil table-icon" %>
          <%= link_to '', [ :admin, @survey, @section, question ], method: :delete, data: { confirm: 'Tem certeza?' }, class: "glyphicon glyphicon-remove-circle table-icon table-remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= empty_array_message @questions %>
