<h1><%= I18n.t("resource.#{@question.class.name.downcase}")%></h1>

<%= flash_notice_render %>


<p>
  <strong>Código:</strong>
  <%= @question.code %>
</p>

<p>
  <strong>Texto da pergunta:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Texto de ajuda:</strong>
  <%= @question.help_block %>
</p>

<p>
  <strong>CSS Class:</strong>
  <%= @question.css_class %>
</p>

<p>
  <strong>Multiplas Respostas ?:</strong>
  <%= @question.multiple_answer ? "Sim" : "False" %>
</p>


<%= link_to 'Editar', edit_admin_survey_section_question_path(@survey, @section, @question), class: "btn btn-lg btn-warning" %> ou
<%= link_to 'voltar', admin_survey_section_questions_path( @survey, @section ) %>
