<%= question.answer_field_decorated do |ans| %>

  <%= f.fields_for :card_answers, CardAnswer.new do |ca| %>
    <%= ca.hidden_field :answer_id, value: ans.id  %>
    <div class="<%= ans.css_class %>">
      <%= render_answer( ans, ca, f ).html_safe %>
    </div>
  <% end %>
  
<% end %>