<%= form_tag new_card_path, method: "get", role: "form", class: "form-horizontal tab-content" do |f| %>

<fieldset class="tab-pane active">
  <legend></legend>
  <div id="map" class="mapField"></div>
  <%= hidden_field_tag :county_code, "", :class => "county_name" %>
</fieldset>

<fieldset class="tab-pane">
  <legend></legend>
  <div class="form-group">
    <%= label_tag :year, "Ano", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= select_tag :year, options_for_select( ["2013","2014"] ), class: "form-control" %>
    </div>
  </div>
</fieldset>

<fieldset class="tab-pane">
  <legend></legend>

  <ul>
    <li>
      <h4>Envio do Ofício pela Prefeitura</h4>
    </li>

    <li>
      <h4>1° Visita ao Município</h4>
      <ul>
        <li><a href="#">Diagnóstico Inicial do Município</a></li>
        <li><a href="#">Identificação das Cooperativas/Associações existentes no Município</a></li>
        <li><a href="#">Identificação dos prédios públicos existentes no município</a></li>
      </ul>
    </li>

    <li>
      <h4>1° Visita as Cooperativas/Associações</h4>
      <ul>
        <li><a href="#">Diagnóstico Inicial da Cooperativa/Associação</a></li>
        <li><a href="#">Dados de pessoal da Cooperativa/ Associação</a></li>
      </ul>
    </li>

    <li>
      <h4>1° Levantamento dos Catadores de Cooperativas/ Associação</h4>
      <ul>
        <li><a href="#">Diagnóstico Inicial dos Catadores de Cooperativa/Associação</a></li>
      </ul>
    </li>

    <li>
      <h4>1° Levantamento dos Catadores de Cooperativas/ Associação</h4>
      <ul>
        <li><a href="#">Diagnóstico Inicial dos Catadores de Cooperativa/Associação</a></li>
      </ul>
    </li>

    <li>
      <h4>￼AÇÕES / ATIVIDADES DO PROGRAMA</h4>
    </li>

    <li>
      <h4>LEVANTAMENTOS DE DADOS</h4>
      <ul>
        <li><a href="#">1° Levantamento das Escolas Públicas</a></li>
        <li><a href="#">1° Levantamento dos Órgãos Públicos</a></li>
      </ul>
    </li>

    <li>
      <h4>COLETA DE DADOS MENSAL</h4>
      <ul>
        <li><a href="#">Coleta de dados mensais da Cooperativa/Associação</a></li>
        <li><a href="#">Coleta de dados mensais do Município</a></li>
      </ul>
    </li>

    <li>
      <h4>MONITORAMENTOS ANUAL</h4>
      <ul>
        <li><a href="#">Monitoramento Municipal</a></li>
        <li><a href="#">Monitoramento da Cooperativa/Associação</a></li>
        <li><a href="#">Monitoramento do Catador de Cooperativa/ Associação</a></li>
        <li><a href="#">Monitoramento da Escola Pública</a></li>
        <li><a href="#">Monitoramento do Órgão Público</a></li>
      </ul>
    </li>
  </ul>

  <%= hidden_field_tag :survey_id, "1" %>
</fieldset>

<fieldset class="tab-pane">
  <legend></legend>
  <div class="form-group">
    <%= label_tag :month, "Mês", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= select_tag :month, options_for_select( t("date.month_names") ), class: "form-control" %>
    </div>
  </div>
</fieldset>

<fieldset class="tab-pane" id="instrumentos">
  <legend></legend>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success btn-lg hide" id="message_btn">Ver instrumentos de coleta</button>

      <div class="hide" id="message_card">
        <span><%= t("date.month_names") %></span>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend></legend>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a href='#' class="btn btn-link btn-lg disabled prevTab">Anterior</a>
      <a href='#' class="btn btn-link btn-lg disabled nextTab" >Próximo</a>
    </div>
  </div>
</fieldset>
<% end %>

<%=content_for :scripts do -%>
  <script type="text/javascript">

  $(function(){
    $('.nextTab').on('shown.bs.tab', function (e, obj ) {
      $("#message_card, #message_btn").addClass("hide");
      if( obj.target.attr("id") == "instrumentos"){
        $.ajax({
          url: "<%= verify_cards_path( :format => :json) %>",
          data: $(this).parents( "form" ).serialize(),
          method: "get",
          type: "json",
          success: function( object ){
            if( object.error ){
              $("#message_card").removeClass("hide").html( object.message );
            }else{
              $("#message_btn").removeClass("hide");
            }
          }
        }) 
      }
    });
  })
  </script>
<%end%>