<div class="container">
  <div class="cb">
  <strong>Cidade: <%= @county.name %> - Ano de referência dos dados: <%= @year %></strong>
  <p>Selecione um formulario das informações a serem inseridas.</p>
</div>
<div class="cf"><br /></div>

<div class="container">

  <% @form_sections_first.each do |form_section|%>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title text-center"><%= form_section.name %></h3>
    </div>
    <%if form_section.surveys.count > 0%>
    <div class="panel-body">
      <ul>
        <% form_section.surveys.all.each do |survey|%>
        <li><a href="#" data-month="<%= survey.uniq_month?%>" data-survey="<%= survey.id%>" class="<%= "text-muted" if !survey.enable_to_fill?( @county, @year ) %>"><%= survey.name %></a>
          <% unless survey.archive_file_name.nil? %>
            <a class="btn btn-sm btn-link documentLink  <%= "disabled" if !survey.enable_to_fill?( @county, @year ) %>" href="<%= survey.archive.url %>">Fazer download</a>
          <% end %>
        </li>
        <%end%>
      </ul>
    </div>
    <% end %>
  </div>

  <%end%>

</div>
  

  <div class="oficio panel <%=  @oficio == true ? "panel-success" : "panel-warning" %>">
    <div class="panel-heading">
      <h2 class="panel-title text-center">Envio do Ofício pela Prefeitura</h2>
    </div>
  </div>
<!-- 
  <div class="text-center arrow-connect">
    <i class="glyphicon glyphicon-arrow-down"></i>
  </div> -->

<div class="container">

  <% @form_sections.each do |form_section|%>

  <% sectionType = ( ( @oficio == true || form_section.order == 0 ) && form_section.available_to_fill?( @county ) ? "panel-warning" : "panel-default" ) %>
  <% if sectionType == "panel-warning" %>
    <% sectionType = (form_section.all_cards_fill?(@county) ? "panel-success" : "panel-warning" ) %>
  <% end %>
  <div class="panel <%= sectionType %>">
    <div class="panel-heading">
      <h3 class="panel-title <%= "text-muted" if sectionType == "panel-default"%> text-center"><%= form_section.name %></h3>
    </div>
    <%if form_section.surveys.count > 0%>
    <div class="panel-body">
      <ul>
        <% form_section.surveys.all.each do |survey|%>
        <li><a href="#" data-month="<%= survey.uniq_month?%>" data-survey="<%= survey.id%>" class="<%= "text-muted" if sectionType == "panel-default" || !survey.enable_to_fill?( @county, @year ) %>"><%= survey.name %></a>

          <% unless survey.archive_file_name.nil? %>
            <a class="btn btn-sm btn-link documentLink <%= "disabled" if sectionType == "panel-default" || !survey.enable_to_fill?( @county, @year ) %>" href="<%= survey.archive.url %>">Fazer download (XLS)</a>
          <% end %>

        </li>
        <%end%>
      </ul>
    </div>
    <% end %>
  </div>

  <%end%>

</div>

<script>
$(function(){
  $(".nextTab").addClass("disabled");
})
$("[data-survey]").click(function(evt){
  evt.preventDefault();
  if( !$(this).hasClass("text-muted") ){
      $(".survey_field").val( $(this).data("survey") );
      $(".nextTab").removeClass("disabled").trigger("click");
    }
})
</script>