<%= form_for( @collection_devices.card, html: { role: "form", class: "form-horizontal", "validate-form" => "" } ) do |f| %>
  <div class="alert alert-danger hide error">
    <span class="glyphicon glyphicon-warning-sign"></span>
    <span></span>.<br clear="all" />
  </div>

  <%= f.hidden_field :county_id %>
  <%= f.hidden_field :survey_id %>
  <%= f.hidden_field :year %>
  <%= f.hidden_field :month %>

  <% section = nil %>
  <%= f.fields_for :card_questions do |cq|%>
    <% if section != cq.object.question.section %>
      <% section = cq.object.question.section %>
      <div class='cf cb section-question'>
        <h3><%= section.name %></h3>
      </div>
    <% end %>

    <% question = cq.object.question %>
    <div data-question="<%= question.code %>" class="<%= question.css_class %>">

      <% unless question.multiple_answer %>
        <h4><%= question.code%>. <%= question.content %></h4>
      <% end %>
      
      <% if question.multiple_answer %>
        <div id="card_questions">
      <% end %>

      <%= cq.hidden_field :id %>
      <%= render :partial => "card_question_edit_fields", :locals => { :f => cq, :question => question } %>

      <% if question.multiple_answer %>
        </div>
        <%= link_to_add_fields_custom "Adicionar", { :f => f, :question => question }, :card_questions, class: "btn btn-lg btn-info margin-bottom" %>
      <% end %>

    </div>

    <%= question.html_clear %>
  <% end %>

  <fieldset class="marginTop">
    <legend></legend>
    <div class="form-group">
      <div class="col-sm-offset-10 col-sm-2">
        <button type="submit" class="btn btn-success btn-lg">Salvar</button>
      </div>
    </div>
  </fieldset>
<% end %>