<h1>Últimos dados coletados</h1>

<%= search_form_for @collection_devices.ransack_obj, url: last_cards_cards_path do |f| %>
  <div class="form-group col-md-3">
    <%= f.label :survey_id_eq, "Questionário" %>
    <%= f.select :survey_id_eq, Survey.order(:name).all.collect{|a| [ a.name, a.id ] }, {include_blank: "Selecione"}, class: "form-control" %>
  </div>


  <div class="form-group col-md-3">
    <%= f.label :county_id_eq, "Município" %>
    <%= f.select :county_id_eq, County.order(:name).all.collect{|a| [ a.name, a.id ] }, {include_blank: "Selecione"}, class: "form-control" %>
  </div>

  <div class="form-group col-md-1">
    <%= f.label :year_eq, "Ano" %>
    <%= f.select :year_eq, (2010..Time.now.year+1).collect{|a| [ a, a ] }, {include_blank: "Selecione"}, class: "form-control" %>
  </div>

  <div class="form-group col-md-3">
    <%= f.label :person_id_eq, "Usuário" %>
    <%= f.select :person_id_eq, Person.order(:name).all.collect{|a| [ a.name, a.id ] }, {include_blank: "Selecione"}, class: "form-control" %>
  </div>

  <div class="form-group col-md-1">
    <label style="display:block;">&nbsp;</label>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </div>

<% end %>

<% if @collection_devices.cards.count > 0%>
  <table class="table table-hover table-bordered table-margin">
    <thead>
      <tr>
        <th>Id</th>
        <th>Questionário</th>
        <th>Município</th>
        <th>Ano</th>
        <th>Usuário‎</th>
        <th>Data de cadastro</th>
        <th>Data de alteração</th>
        <th class="table-action"></th>
      </tr>
    </thead>

    <tbody>
      <% @collection_devices.cards.each do |card|%>
      <tr>
        <td><%= card.id %></td>
        <td><%= card.survey.nil? ? "-" : card.survey.name %></td>
        <td><%= card.county.name %></td>
        <td><%= card.year %></td>
        <td><%= card.person.name %></td>
        <td><%= l card.created_at.to_date, :format => :default %></td>
        <td><%= l card.updated_at.to_date, :format => :default %></td>
        <td class="action_two">
          <a href="<%= card_path( card )%>" class="glyphicon glyphicon-eye-open table-icon"><span></span></a>

          <% if current_user.is_dev? %>
          
         <!-- <a href="<%= edit_card_path( card )%>" class="glyphicon glyphicon-pencil table-icon"><span></span></a> -->

          <%= link_to '', card_path( card ), method: :delete, data: { confirm: 'Tem certeza?' }, class: "glyphicon glyphicon-remove-circle table-icon table-remove" %>
          <%end%>
          </td>

        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= empty_array_message @collection_devices.cards %>

<div class="cb">
  <%= will_paginate @collection_devices.cards, renderer: BootstrapPagination::Rails %>
</div>