<div class="cb">

<h1>
  <%= @card.survey.name %>
</h1>

  <div class="infos">
    <span>Ano: <%= @card.year%> - </span>
    <% unless @card.month.blank? %>
    <span>Mês: <%= t("date.month_names")[ @card.month.to_i-1]%> - </span>
    <% end %>
    <span><%= @card.county.name%> - </span>
    <span><%= @card.person.name%></span>
  </div>
</div>

<%section = nil%>

<%@card.card_questions.each do |cq|%>

  <%if cq.question.section != section %>
    <% section = cq.question.section %>
    <div class='cf cb section-question'><h3><%= section.name%></h3></div>
  <%end%>

<div class="cf <%= cq.question.css_class %>">
  <%unless cq.question.multiple_answer %>
  <h4><%= cq.question.code%>. <%= cq.question.content %></h4>
  <%end%>

  <% cq.card_answers.each do |ca|%>

    <%if cq.question.multiple_answer && cq.card_answers.index( ca ) == 0 %>
      <div class="form-group cf <%= "multiple" if cq.question.multiple_answer %> ">
    <%end%>

      <div class="<%= ca.answer.css_class %>">
        <% value = nil%>
        <%if ca.answer.answer_collections.length > 0 %>
          <% obj = ca.answer.answer_collections.select{|a| a.value == ca.value }%>
          <%if obj.length > 0%>
          <ul class="marginTop">
            <%obj.each do |o|%>
              <li><%= o.text  %></li>
            <%end%>
          </ul>
          <%end%>
        <%else%>
          <% value = ca.value %>
          <input type="text" value="<%= value%>" class="form-control" readonly="readonly" />
        <%end%>
        
      </div>

    <%if cq.question.multiple_answer && (cq.card_answers.index( ca ) == cq.card_answers.length - 1) %>
      </div>
    <%end%>

  <% end %>

</div>

<% end %>

<div class="cf marginTop">
  <a href="<%= cards_path %>" class="btn btn-lg btn-info marginTop">Inserir Novo</a> <a href="<%= root_path%>" class="btn btn-lg marginTop">Voltar</a>
</div>