<%= form_for( [:admin, @county], html: { role: "form", class: "form-horizontal"} ) do |f| %>
  <fieldset>
    <legend>Dados Básicos</legend>
    <div class="form-group">
      <%= f.label :name, "Nome", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control", placeholder: "nome" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :code, "Código", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :code, class: "form-control", placeholder: "code" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :cnpj, "CNPJ", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :cnpj, class: "form-control", placeholder: "cnpj" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :logradouro_prefeitura, "Logradouro da Prefeitura", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :logradouro_prefeitura, class: "form-control", placeholder: "logradouro" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :numero_prefeitura, "Número da Prefeitura", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :numero_prefeitura, class: "form-control", placeholder: "numero" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :complemento_prefeitura, "Complemento da Prefeitura", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :complemento_prefeitura, class: "form-control", placeholder: "complemento" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :bairro_prefeitura, "Bairro da Prefeitura", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :bairro_prefeitura, class: "form-control", placeholder: "bairro" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :cep_prefeitura, "Cep da prefeitura", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :cep_prefeitura, class: "form-control", placeholder: "bairro" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :populacao_total_municipio, "População total do municipio", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :populacao_total_municipio, class: "form-control", placeholder: "populacao total" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :populacao_urbana, "População Urbana", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :populacao_urbana, class: "form-control", placeholder: "populacao urbana" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :populacao_rural, "População Rural", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :populacao_rural, class: "form-control", placeholder: "populacao rual" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :extensao_territorial, "Extensão Territorial", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :extensao_territorial, class: "form-control", placeholder: "extensao" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :domicilios_total, "Domicílios (Total)", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :domicilios_total, class: "form-control", placeholder: "dominicilio" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :indice_destinacao, "Índice de Destinação Final de Resíduos Sólidos Urbanos (IDL) – ICMS Ecológico", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :indice_destinacao, class: "form-control", placeholder: "indice" %>
      </div>
    </div>
    
  </fieldset>

  <fieldset>
    <legend></legend>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Salvar</button> ou 
        <a href="<%= admin_counties_path%>">cancelar</a>
      </div>
    </div>
  </fieldset>

<% end %>
