<div class="collapse navbar-collapse" role="navigation">
  <ul class="nav navbar-nav">
    <li class="<%= controller_name == "dashboard" ? "active" : "" %>"><a href="<%= admin_root_path %>">Home</a></li>
    <li class="<%= controller_name == "cards" ? "active" : "" %>"><a href="<%= cards_path %>">Iniciar Formulários</a></li>
    <li class="<%= controller_name == "surveys" ? "active" : "" %>"><a href="<%= admin_surveys_path %>">Gerenciar Formulários</a></li>
    <li class="<%= controller_name == "counties" ? "active" : "" %>"><a href="<%= admin_counties_path %>">Gerenciar Município</a></li>
    <li class="<%= controller_name == "users" ? "active" : "" %>"><a href="<%= admin_users_path %>">Gerenciar Usuários</a></li>

    <li class="">
      <%= link_to "Sair", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div><!--/.nav-collapse -->