<div class="collapse navbar-collapse" role="navigation">
  <ul class="nav navbar-nav">
    <li class="<%= controller_name == "dashboard" ? "active" : "" %>"><a href="<%= admin_root_path %>">Home</a></li>
    <li class="<%= controller_name == "surveys" ? "active" : "" %>"><a href="<%= admin_surveys_path %>">Formulários</a></li>
    <li class="<%= controller_name == "counties" ? "active" : "" %>"><a href="<%= admin_counties_path %>">Município</a></li>
    <!-- <li><a href="#contact">Contact</a></li> -->

    <li class="">
      <%= link_to "Sair", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div><!--/.nav-collapse -->