<!DOCTYPE html>
<html lang="en">
<head>
  <title>OCSS</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= csrf_meta_tags %>
  <%if controller_name != "home"%>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
  <%else%>
    <%= stylesheet_link_tag    "observatorio", media: "all", "data-turbolinks-track" => true %>
  <%end%>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

</head>
<body>
<div class="container_body">
<%if controller_name != "home"%>
    <%= render :partial => "shared/navbar" %>
  <div class="container paddingTop">
    <%= yield :title %>

    <%unless current_user.nil? %>
      <% unless controller_name == "home" %>
        <%= render "shared/breadcrumb" %>
      <% end %>
    <%end%>

    <%= yield %>
  </div><!-- /.container -->

  <div class="cf"></div>

  <footer class="footer cb">
    <div class="container text-center">
      <%= image_tag "footer.jpg", width:445 %>
    </div>
  </footer>
<%else%>
  <%= yield%>
<% end %>


  <%if controller_name != "home"%>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%else%>
    <%= javascript_include_tag "observatorio", "data-turbolinks-track" => true %>
  <%end%>
</div>
  <%= yield :scripts %>
</body>
</html>
